extends layout

block styles
  link(rel="stylesheet" href="/css/company.css")

block content
  section#company-section
    h1 ----COMPANY PROFILE----
    h2 公司简介
    p ----OCEAN COMMERCE----

    section#about
      p 深圳市前海大洋商贸有限公司为香港大洋全资子公司，有着丰富优质的海产品资源及内外销网络，覆盖全球。
      p 我司拥有多年的全球采购经验及开发团队，注重品质和食品安全，在内销业提供优质价格产品上级供应优势。
      p 本着“服务至上”的宗旨，致力于为合作伙伴提供更多优质产品和最新资讯。

    section#awards
      h3 荣誉证书
      div.awards-flip-container
        div.flip-card
          div.flip-card-inner
            div.flip-card-front
              img(src="/image/award1_front.png" alt="Award Front 1")
            div.flip-card-back
              img(src="/image/award1_back.png" alt="Award Back 1")
        div.flip-card
          div.flip-card-inner
            div.flip-card-front
              img(src="/image/award2_front.png" alt="Award Front 2")
            div.flip-card-back
              img(src="/image/award2_back.png" alt="Award Back 2")
        div.flip-card
          div.flip-card-inner
            div.flip-card-front
              img(src="/image/award3_front.png" alt="Award Front 3")
            div.flip-card-back
              img(src="/image/award3_back.png" alt="Award Back 3")
        div.flip-card
          div.flip-card-inner
            div.flip-card-front
              img(src="/image/award4_front.png" alt="Award Front 4")
            div.flip-card-back
              img(src="/image/award4_back.png" alt="Award Back 4")
        div.flip-card
          div.flip-card-inner
            div.flip-card-front
              img(src="/image/award5_front.png" alt="Award Front 5")
            div.flip-card-back
              img(src="/image/award5_back.png" alt="Award Back 5")
        div.flip-card
          div.flip-card-inner
            div.flip-card-front
              img(src="/image/award6_front.png" alt="Award Front 6")
            div.flip-card-back
              img(src="/image/award6_back.png" alt="Award Back 6")

    section#brands
      h3 我们的品牌
      p 公司现已有“鲑鱼世家”、“三文鱼世家”、“一条三文鱼”、“好鲜大洋”等自主品牌，是中国水产流通与加工协会生鲜供应链分会副会长单位，产品销售全国。
      p 其中尤以三文鱼，鳗鱼系列产品为最，除了原料更在深加工，调制和净菜类，丸滑类深入研发和推广。
      p 如：香煎鱼排，酱料鱼柳，烟熏制品，鱼丸鱼滑休闲食品类，蒲烧系列，火锅切片等。
      p 我们的产品从源头到终端，全程把控，每个环节都直接参与，最大程度地保证产品质量和供应。
      p 与各类商家如餐饮，超市，电商平台，微商，社区团购等皆有合作。
      p 大洋商贸欢迎您咨询洽谈，联手合作，互惠共赢！
