doctype html
html
  head
    title Dynamic Company Name
    link(rel="stylesheet" href="/css/index.css")
    
  body
    div#app
    script(src="/index.bundle.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

